body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

label {
    color: #fff;
}

#searchCountry {
    border-radius: 15px; /* Sau orice valoare preferată pentru a rotunji capetele */
    padding: 6px; /* Poți ajusta această valoare pentru a regla înălțimea search bar-ului */
    border: 1px solid #ccc; /* Adaugă un chenar pentru a evidenția conturul */
    font-size: 16px; /* Poți ajusta această valoare pentru a regla dimensiunea textului */
}

/* Adaugă un stil pentru a evidenția input-ul când este focusat */
#searchCountry:focus {
    outline: none; /* Elimină chenarul de contur implicit */
    border-color: #4CAF50; /* Schimbă culoarea conturului când input-ul este focusat */
    box-shadow: 0 0 8px rgba(0, 128, 0, 0.3); /* Adaugă o umbra ușoară pentru evidențiere */
}

#countryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.country {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

#chartContainer {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chartInfo .deaths {
    color: red; /* Change the color for the deaths section */
}

#covidChart {
    width: 100%;
}

#countryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#countryTable th, #countryTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#countryTable th {
    background-color: #333;
    color: #fff;
   
}

#chartInfo {
    text-align: center;
}

#chartInfo .info {
    margin-bottom: 10px;
}

#chartInfo .label {
    display: block;
    font-weight: bold;
    text-align: center; /* Adăugat pentru a centra etichetele pe orizontală */
}

#chartInfo .number {
    display: block;
    font-weight: bold;
}

#chartInfo .label.population {
    color: blue; /* Culorea pentru eticheta "Population" */
}

#chartInfo .label.cases {
    color: green; /* Culorea pentru eticheta "Cases" */
}

#chartInfo .label.deaths {
    color: red; /* Culorea pentru eticheta "Deaths" */
}

#chartInfo .label.recovered {
    color: orange; /* Culorea pentru eticheta "Recovered" */
}

/* Stiluri pentru butoanele de filtrare */
#filterContainer {
    margin-top: 20px;
    text-align: left;
}

#filterContainer button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #eeeeee;
    color: #4d4b4b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filterContainer button:hover {
    background-color: #717477;
    color: #ffffff;
}

#filterContainer button.selected {
    background: #323334;
    color: #ffffff;
}
